
.my-btn {
  box-sizing: border-box;
  border: none;
  padding: 1rem 1.75rem;
  border-radius: .25rem;
  $title-color: hsl(152, 4%, 95%);
  background-color: $first-color;
  color: $title-color;
  font-weight: 600;
  display: inline-flex;
  gap: .75rem;
  transition: .3s;
  span {
    transition: .3s;
    svg {
    padding: .1rem;

    }
  }
  &:hover {
    background-color: $first-color-alt;
    span {
      transform: rotate(45deg);
    }
  }
}
