.steps {
  .container {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $first-color;
    border-radius: 0.5rem;
    h2 {
      color: hsl(152, 4%, 95%);
    }
    .boxes {
      .box {
        padding: 2rem 1.5rem;
        .number {
          color: hsl(152, 4%, 95%);
          background-color: $first-color;
          width: 3.375rem;
          height: 3.25rem;
          line-height: 3.25rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 2rem;
          border-radius: 0.25rem;
          transition: 0.3s;
        }
        h3 {
          font-size: 1.25rem;
          font-weight: 500;
          color: $title-color;
          margin-bottom: 1rem;
        }
        background-color: white;
        border-radius: 0.5rem;
        p {
          margin-bottom: 0;
          font-size: 0.938rem;
        }
        @media (max-width: 575px) {
          text-align: center !important;
          .number {
            margin-left: auto;
            margin-right: auto;
          }
        }
        &:hover {
          .number {
            transform: translateY(-0.5rem);
          }
        }
      }
    }
  }
}
